<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div padding class="error message">
    <p ion-text padding-left padding-right class="no-margin" color="danger">{{errorMessage}}</p>
  </div>
  <form (ngSubmit)="login()" novalidate>
    <ion-item [class.ng-is-invalid]="username.touched && !loginForm.username.valid" 
              [class.ng-is-valid]="loginForm.username.valid">
      <ion-label floating>Email</ion-label>
      <ion-input requierd  type="email" name="username" 
                (ionBlur)="usernameValidate()"
                [(ngModel)]="loginForm.username.value" 
                #username="ngModel">   
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="username.touched && !loginForm.username.valid">{{ loginForm.username.errorMessage }}</span>
    </p>

    <ion-item [class.ng-is-invalid]="password.touched && !loginForm.password.valid" 
              [class.ng-is-valid]="loginForm.password.valid">
      <ion-label floating>Password</ion-label>
      <ion-input requierd  type="password" name="password" min="6" 
                (ionBlur)="passwordValidate()"
                [(ngModel)]="loginForm.password.value" 
                #password="ngModel">   
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="password.touched && !loginForm.password.valid">{{loginForm.password.errorMessage}}</span>
    </p>

    <div padding>
      <button ion-button type="submit" block clear
              [disabled]=" !loginForm.username.valid || !loginForm.password.valid ">Login
      </button>
      <button ion-button (click)="cancel()" block clear>cancel</button>
    </div>
  </form >
</ion-content>
