<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div padding class="error message">
    <p>{{errorMessage}}</p>
  </div>
	<form (ngSubmit)="register(username)" novalidate>

    <ion-item [class.ng-invalid]="(username.touched && username.viewModel=='') || registerForm.username.valid" 
              [class.ng-is-valid]="registerForm.username.valid"
              [class.ng-valid]="false">
      <ion-label floating>Email</ion-label>
      <ion-input requierd  type="email" name="username" 
              [(ngModel)]="registerForm.username.value" 
              #username="ngModel"
              [class.ng-invalid]="(username.touched && username.viewModel=='') || registerForm.username.valid"
              [class.ng-valid]="false">   
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="username.touched && !registerForm.username.valid">Required {{username.touched}} {{username.viewModel==''}}</span>
    </p>

    <ion-item [class.ng-invalid]="(password.touched && password.viewModel=='') || registerForm.password.valid" 
              [class.ng-is-valid]="registerForm.password.valid"
              >
      <ion-label floating>Password</ion-label>
      <ion-input requierd  type="password" name="password" min="6" 
            [(ngModel)]="registerForm.password.value" 
            #password="ngModel"
            [class.ng-valid]="false">   
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="password.touched && !registerForm.password.valid">Required</span>
    </p>

    <ion-item [class.ng-invalid]="(confirmPassword.touched && confirmPassword.viewModel=='') || registerForm.confirmPassword.valid" 
              [class.ng-is-valid]="registerForm.confirmPassword.valid"
              >
      <ion-label floating>Confirm Password</ion-label>
      <ion-input [class.ng-valid]="false" requierd  type="password" name="confirmPassword" min="6"
              [(ngModel)]="registerForm.confirmPassword.value" 
              #confirmPassword="ngModel"
              [class.ng-valid]="false">
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="confirmPassword.touched && !registerForm.confirmPassword.valid">Required</span></p>

    <div padding>
      <button ion-button full type="submit" block>Register</button>
    </div>
	</form >
</ion-content>