<ion-header >
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div padding class="error message no-padding-bottom">
    <p ion-text padding-left padding-right class="no-margin" color="danger">{{errorMessage}}</p>
  </div>
	<form (ngSubmit)="register()" novalidate>

    <ion-item [class.ng-is-invalid]="name.touched && !registerForm.name.valid" 
              [class.ng-is-valid]="registerForm.name.valid">
      <ion-label floating>Name</ion-label>
      <ion-input requierd  type="email" name="name" 
                (ionBlur)="nameValidate()"
                [(ngModel)]="registerForm.name.value" 
                #name="ngModel">   
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="name.touched && !registerForm.name.valid">{{ registerForm.name.errorMessage }}</span>
    </p>

    <ion-item [class.ng-is-invalid]="username.touched && !registerForm.username.valid" 
              [class.ng-is-valid]="registerForm.username.valid">
      <ion-label floating>Email</ion-label>
      <ion-input requierd  type="email" name="username" 
                (ionBlur)="usernameValidate()"
                [(ngModel)]="registerForm.username.value" 
                #username="ngModel">   
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="username.touched && !registerForm.username.valid">{{ registerForm.username.errorMessage }}</span>
    </p>

    <ion-item [class.ng-is-invalid]="password.touched && !registerForm.password.valid" 
              [class.ng-is-valid]="registerForm.password.valid">
      <ion-label floating>Password</ion-label>
      <ion-input requierd  type="password" name="password" min="6" 
                (ionBlur)="passwordValidate()"
                [(ngModel)]="registerForm.password.value" 
                #password="ngModel">   
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="password.touched && !registerForm.password.valid">{{registerForm.password.errorMessage}}</span>
    </p>

    <ion-item [class.ng-is-invalid]="confirmPassword.touched && !registerForm.confirmPassword.valid" 
              [class.ng-is-valid]="registerForm.confirmPassword.valid">
      <ion-label floating>Confirm Password</ion-label>
      <ion-input [class.ng-valid]="false" requierd  type="password" name="confirmPassword" min="6"
                (ionBlur)="confirmPasswordValidate()"
                [(ngModel)]="registerForm.confirmPassword.value" 
                #confirmPassword="ngModel">
      </ion-input>
    </ion-item>
    <p ion-text padding-left padding-right class="no-margin" color="danger">
      <span *ngIf="confirmPassword.touched && !registerForm.confirmPassword.valid">{{registerForm.confirmPassword.errorMessage}}</span></p>

    <div padding>
      <button ion-button full type="submit" block clear
              [disabled]=" !registerForm.name.valid || !registerForm.username.valid || !registerForm.password.valid || !registerForm.confirmPassword.valid ">Register
      </button>
      <button ion-button full (click)="cancel()" block clear>cancel</button>
    </div>
	</form >
</ion-content>