.course-item {
	padding: 0;
	background: transparent;
	color: $font-color;
	padding: 1rem;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	.item-inner {
		padding-left: 10px;
		border: none !important;
	}
}

page-list {
	ion-content {
		background-image: url(../assets/imgs/MyCourses.jpg);
	}
}