// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Lato');

ion-content *{
	font-family: 'Lato', sans-serif;
	color: $font-color;
}

ion-content {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.button.button-md.button-clear-md {
		background-color: transparent !important;
		border: 1px solid $border-bottom-input !important;
		border-radius: 100px;
		color: $font-color;
	}

	.item.item-block.item-md {
		background-color: transparent;
	}
}
.scroll-content,.fixed-content {
	margin: 0 !important;
	padding-top: 56px;
}

ion-header.header {
	&::after {
		display: none;
	}
}

.scroll-content {
	background-color: rgba(15, 182, 156,0.8);
}
.toolbar.transparent-navbar ,
.transparent-navbar{
	.toolbar-background {
		background-color: rgba(0,0,0,0.0);
	}
	.toolbar-content , .toolbar-title {
		color: $font-color;
		font-weight: lighter;
		font-size: 16px;
		padding-left: 0;
	}
	.button-inner , .back-button-icon{
		color: $font-color;
		font-weight: lighter;
		// font-size: 20px;
	}
	
}
.menuClose {
	float: right;
}

.spinner-main {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	ion-spinner {
		position: absolute;
		width: 4rem;
		height: 4rem;
		margin-left: -2rem;
		margin-top: -2rem;
		left: 50%;
		top: 50%;
	}
}


.transparent {
	color: transparent;
	background-color: transparent;
}

.beginer {
	color: color($colors, success , base);
}
.intermediate {
	color: color($colors, warning , base);;
}
.advanced {
	color: color($colors, danger , base);;
}

//LAYOUT 

.no-margin {
	margin: 0 !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-padding-top {
	padding-top: 0 !important;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}


//INPUTS

.item-md.item-block.item-input.ng-valid.item-input-has-value .item-inner, 
.item-md.item-block.item-input.ng-invalid .item-input-has-value .item-inner,
.item-md.item-block.item-input.ng-valid .item-inner,
.item-md.item-block.item-input.ng-invalid .item-inner { 
	border-bottom: 2px solid $border-bottom-input;
    box-shadow: none;
    background-color: transparent;
}

.item-md.item-block.item-input { 
	border-bottom: none;
    box-shadow: none;
    padding: 0 2rem;
    background-color: transparent !important;
    color: $font-color;

    input {
    	color: $font-color;
    }
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
	border-bottom: 2px solid $border-bottom-input;
    box-shadow: none;
}

.ng-is-valid {
	.item-inner{
		border-bottom: 2px color($colors, success , base) solid !important;
	}
}

.ng-is-invalid {
	.item-inner{
		border-bottom: 2px color($colors, danger , base) solid !important;
	}
}