<ion-header>
  <ion-navbar id="ion-navbar" class="transparent-navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>{{selectedItem.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)" class="course-detail">
  <div class="course-image">
    <!-- <h1 padding class="course-title">{{selectedItem.name}}</h1> -->
    <!-- <img [src]="selectedItem.media[0].url" width="100%" height="auto"> -->
    <div class="image" [ngStyle]="{'background-image': 'url(' + selectedItem.media[0].url + ')'}"></div>
    <div class="opacity"></div>
    <div class="course-info">
      <span class="course-detail {{selectedItem.level}}" text-capitalize>{{selectedItem.level}}</span>
      <div class="tags">
        <span class="course-detail tag" *ngFor="let item of selectedItem.tags" text-capitalize>{{ item }}</span>
      </div>
    </div>
  </div>
  <div padding [innerHTML]="selectedItem.steps[stepNumber].info">
  </div>
  <div padding>
    <h3>Questions</h3>
    <div>
      <h5>{{selectedItem.steps[stepNumber].questions[questionNumber].question}}</h5>
      <div *ngFor="let answer of selectedItem.steps[stepNumber].questions[questionNumber].answers">
        <input  [value]="answer.number" name="questionAnswer" [(ngModel)]="questionAnswer" class="form-check-input" type="radio"> {{answer.answer}}
      </div>
      <div padding>
        <button *ngIf="questionNumber < (selectedItem.steps[stepNumber].questions.length-1)" ion-button full color="dark" (click)="nextQuestion()">
          Next Question
        </button>
        <button *ngIf="!(questionNumber < (selectedItem.steps[stepNumber].questions.length-1)) && stepNumber < (selectedItem.steps.length-1)" ion-button full (click)="nextStep()">
          Next step
        </button>
        <button *ngIf="(questionNumber >= (selectedItem.steps[stepNumber].questions.length-1)) && stepNumber >= (selectedItem.steps.length-1)" ion-button full color="secondary">
          Course Done
        </button>
      </div>
    </div>
    
  </div>
</ion-content>
